/* -----------------LINKS------------------- */
@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&family=Ubuntu:wght@400;500;700&display=swap');

/* --------------Universal styles------------ */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
    /* overflow-x: hidden; */
}

/* ---------------Section One--------------- */
.sec-one{
    /* background-image: url(../images/bg-pattern-intro-desktop.svg); */
    background: linear-gradient(hsl(13, 100%, 72%), hsl(353, 100%, 62%));
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 85vh;
    border-bottom-left-radius: 15%;
}

/* ----------HEADER-------- */
header{
    display: flex;
    width: 100%;
    height: 17%;
    padding: 5% 8% 1.4%;
    /* padding: 0 8%; */
    align-items: center;
}

nav.navigate{
    display: flex;
    align-items: center;
    justify-content:space-between;
    width: 100%;
    margin-left: 7%;
    font-size: 16px;
    font-weight: bold;
}
ul{
    display: flex;
    list-style: none;
}
li,a{
    margin: 0 1rem;
    text-decoration: none;
    color: hsl(0, 0%, 100%);
    cursor: pointer;
    padding: 0;
}
.nav-ul li div .link:hover,
.log-ul li a:hover{
    border-bottom: 2px solid hsl(0, 0%, 100%);
}
.up-arrow{
    margin-left: .4rem;
    font-size: 16px;
}
.drop-down-content{
    background-color: hsl(0, 0%, 100%);
    position: absolute;
    z-index: 1;
    margin-top: 1rem;
    display: none;
}
.drop-down-content.show-dropdown{
    display: block;
}
.drop-down-content a{
    display: block;
    float: none;
    margin: .8rem 1.5rem;
    font-weight: normal;
    text-align: left;
    color: black;
}
.drop-down-content a:hover{
    font-weight: bold;
}
ul.log-ul .sign a{
    padding: .9rem 2.5rem;
    background: hsl(0, 0%, 100%);
    color: hsl(353, 100%, 62%);
    border-radius: 5rem;
    border-bottom: 0;
}
ul.log-ul .sign a:hover{
    color: hsl(0, 0%, 100%);
    background: hsl(0, 0%, 100%, .2);
    transition: .4s linear all;

}
.menu-bar{
    display: none;
}

/* Main-001 */

div.main-001{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 83%;
    color: hsl(0, 0%, 100%);
    text-align: center;
}

.content-001 h1{
    font-size: 3.5rem;
    letter-spacing: 1.8;
    font-weight: 600;
    font-family: 'Overpass', sans-serif;
    margin-bottom: 1rem;
}
.content-001 p{
    font-size: 1.2rem;
    font-weight: 100;
    letter-spacing: 1.2;
    margin-bottom: 3rem;
}
.content-001 div button{
    border: 0;
    font-weight: bold;
    font-size: 16px;
    border-radius: 5rem;
    transition:.4s linear all;
}
button.btn-001{
    padding: .9rem 1rem;
    background: hsl(0, 0%, 100%);
    color: hsl(353, 100%, 62%);
}
button.btn-001:hover{
    background: hsl(0, 0%, 100%, .2);
    color:hsl(0, 0%, 100%);
}
button.btn-002{
    padding: .9rem 1.54rem;
    background: hsl(0, 0%, 100%, .2);
    color:hsl(0, 0%, 100%);
    margin-left: 1.5rem;
}
button.btn-002:hover{
    background: hsl(0, 0%, 100%);
    color: hsl(353, 100%, 62%);
}


/* ---------------Section Two--------------- */


.sec-two{
    color:hsl(207, 13%, 34%) ;
    width: 100%;
    margin-bottom: 15rem;
    /* overflow: hidden; */
}
.div-h2 h2{
    font-size: 2.5rem;
    font-weight: 600;
    letter-spacing: 1.8;
    font-family: 'Overpass', sans-serif;
    text-align: center;
    margin-top: 20vh ;
}
.main-002{
    width: 100%;
    padding-left: 9rem;
    margin-top: 5.5rem;
}
.content-002 h3,
.content-004 h3{
    font-size: 1.5rem;
    font-family: 'Overpass', sans-serif;
    font-weight: 600;
    letter-spacing: 1.8;
    margin-bottom: 2rem;
}
.content-002 p,
.content-004 p{
    margin-bottom: 4rem;
    font-family: 'Overpass', sans-serif;
    letter-spacing: 2;
    line-height: 1.7;
    font-size: 16px;
}
.img-main{
    position: relative;
    /* overflow-x: hidden; */
}
.img-content{
    width: 100%;
    /* overflow-x: hidden; */
}

.img-content img{
    position: absolute;
    top: -7rem;
    /* right: -20%; */
    width: fit-content;
    /* overflow-x: hidden; */
}

/* ---------------Section Three--------------- */
section.sec-three{
    background:hsl(237, 17%, 21%);
    background-image: url("../images/bg-pattern-circles.svg");
    background-repeat: no-repeat;
    background-size:auto;
    width: 100%;
    height: 62vh;
    font-family: 'Overpass', sans-serif; 
    color: hsl(0, 0%, 100%);   
    border-top-right-radius: 5rem;
    margin-bottom: 10rem;
    border-bottom-left-radius: 5rem;
}
.phone-img img{
    margin: auto;
    margin-top: -5rem;
    display: block;
}
.main-003{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 62vh;
}
.content-003{
    padding: 5% 8rem 5% 0;
}
.content-003 .p-one{
    font-size: 2.3rem;
    font-weight: 300;
    letter-spacing: 1.7;
    margin-bottom: 2rem;
}
.content-003 .p-two{
    font-size: 16px;
    line-height: 2;
    letter-spacing: 1px;
    color: hsl(240, 2%, 79%);
}

/* ---------------Section four--------------- */

.sec-four{
    color:hsl(207, 13%, 34%) ;
    width: 100%;
    margin-bottom: 15rem;
}
.main-004{
    width: 100%;
    /* padding-left: 2rem; */
    margin-top: 11rem;
}
.content-004{
    padding-right: 10rem;
}
.main-img-004{
    position: relative;
}
.laptop-img img{
    position: absolute;
    left: -42%;
    display: block;
}











/* #################600px screen size######################## */
@media screen and (max-width : 600px){
    .span-1-of-2{
        width: 100%;
    }
    .menu-bar{
        display: block;
    }    
    nav.navigate{
        /* display: none; */
        display: block;
        position: absolute;
        top: -100%;
        right: 0;
        background: linear-gradient(hsl(13, 100%, 72%), hsl(353, 100%, 62%));
        height: 60%;
        padding-top: 3rem;
        width: 100%;
        margin-left: 0;
        overflow-x: hidden;
        transition: .5s ease;
        /* background: hsl(0, 0%, 100%); */
    }
    /* to display nav */
    nav.navigate.show-nav{
        top: 20%;
    }
    nav .nav-ul.display-nav{
        display: block;
    }
    nav .log-ul.display-nav{
        display: block;
    }

    header{
        justify-content: space-between;
        padding-top: 2rem;
    }
    nav ul{
        display: none;
    }
    nav ul.nav-ul li .link,
    nav ul.log-ul li a{
        margin: 1rem;
    }
    nav ul.nav-ul li,
    nav ul.log-ul li{
        margin-bottom: 2.5rem;
        text-align: center;
    }

    .content-001 h1{
        font-size: 2.3rem;
        letter-spacing: 0;
        font-weight: 600;
        font-family: 'Overpass', sans-serif;
        margin-bottom: 1rem;
    }
    .content-001 p{
        letter-spacing: 1.5;
    }
    div.main-001{
        padding-left: 1rem;
        padding-right: 1rem;
    }
    .div-h2 h2{
        font-weight: 600;
        font-size:2rem;
        margin-bottom: 2.5rem;
    }

    .main-002{
        width: 100%;
        padding: 0 2rem;
        margin-top: 0;
    }
    .content-002 h3{
        text-align: center;
        margin-top: 2rem;
    }
    .content-002 p{
        margin-bottom: 2.5rem;
        text-align: center;
    }
    .img-content img{
        padding: 0 1rem;
        margin: 1rem 0;
        width: 100%;
        position: unset;
    }
    .display-order {
        display: flex;
        flex-direction: column-reverse; /*Change the order of items to reverse column*/
    }
      .order-1 {
        order: 2; /* Set the order of image to be 2 */
    }
      .order-2 {
        order: 1; /* Set the order of content to be 1 */
    }
    .sec-two{
        margin-bottom: 12rem;
    }
    section.sec-three{
        height: auto;
        margin-bottom: 3rem;
    }
    .phone-img img{
        margin: auto;
        margin-top: -10rem;
        width: 100%;
        display: block;
    }
    .main-003{
        height: auto;
    }
    .content-003{
        padding: 1rem;
        padding-bottom: 4rem;
        text-align: center;
    }
    .laptop-img img{
        position: unset;
        width: 100%;
        text-align: center;
        padding: 1rem 0 1rem 1rem;
    }
    .sec-four{
        margin-bottom: 1rem;
    }
    .main-004{
        width: 100%;
        /* padding-left: 2rem; */
        margin-top: 2rem;
    }    
    .content-004{
        padding: 1rem;
        text-align: center;
    }



}